
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:HSL(300, 4%, 9%);
  background-color: #eeede5;
 }
 
 main {
  min-height: 100vh;
  text-align: center;
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

h1 , h2 {
  margin-bottom: 20px;
  margin-top: 0;

}

 h1 {
  font-size: clamp(3rem, 4vw + 1rem, 5rem);
  color: HSL(300, 4%, 9%);
 }

 h2 {
  font-size: clamp(2rem, 4vw + 1rem, 5rem);
  color: tomato;
 }

 .buttons {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;

  @media screen and (max-width: 500px) {
    width: 100%;
  }
  button {
    background: HSL(300, 4%, 9%);
    color: #eee;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 2px HSL(300, 4%, 9%);
    margin: 0 10px;

    &:hover {
      background: tomato;
      border: solid 2px tomato;
      color:HSL(300, 4%, 9%);
    }
  }
 }

 .tomatoes {
  width: 40%;
  min-height: 50px;
  margin-inline: auto;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tomato-plant {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: tomato;
}

.tomato-plant::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: green;
  top: 45.5%;
  top: -5px;
  left: 20px;
  border-radius: 10px 10px 10px 0;
  transform: rotate(30deg);
}

.tomato-plant::before{
  content: '';
  position: absolute;
  width: 7px;
  height: 4px;
  background: rgb(245, 143, 96);
  /* top: 47.2%; */
  top: 30%;
  left: 5px;
  border-radius: 60%;
  transform: rotate(-45deg);
}