 body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 70px 50px;
  color:HSL(300, 4%, 9%);

  @media screen and (max-width: 500px) {
    padding: 30px 20px;
  }
 }

 h1 {
  font-size: clamp(3rem, 5vw + 1rem, 5rem);
  color: HSL(213, 58%, 34%);
 }

 .buttons {
  margin-inline: auto;
  width: 20%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 500px) {
    width: 100%;
  }
  button {
    background: HSL(300, 4%, 9%);
    color: #eee;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 2px HSL(300, 4%, 9%);

    &:hover {
      background: HSL(213, 58%, 34%);
      border: solid 2px HSL(213, 58%, 34%);
      color:HSL(300, 4%, 9%);
    }
  }
 }


